# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.venv/

# IDE
.idea/
.vscode/

# Test cache
.pytest_cache/

# Local CA certs
nscacert.pem

# Coverage artifacts
.coverage
coverage.xml
htmlcov/
